h1 {
    text-align: center;
}

div.line {
    margin-bottom: 5px;
}

div span {
    margin: 0 8px 0 0;
    letter-spacing: 2px;
    padding: 0 0 0 2px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    font-size: 22px;
    line-height: 44px;
    color: #fff;
    background-color: #0b8043;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    font-family: arial,sans-serif-light,sans-serif;
    font-weight: 300;
    cursor: pointer;
}

div span.selected {
    background-color: #0b2043;
}