p {
    color: blue;
    text-align: center;
    background-color: #51A4E2;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    width: 175px;
    margin-left: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin: 20px 25px;
    margin: 20px 21px 22px 23px;
    margin: 10px;
    padding-top: 25px;
    padding-left: 12px;
    padding: 30px 40px;
    padding: 3px;
}

table {
    border-collapse: collapse;
    width: 99%;
    height: 250px;
}

th, 
td {
    /*
    border-color: black;
    border-style: solid;
    border-width: 3px;
    */
    border: 3px solid black;
    border-bottom: 8px dotted green;
    border-bottom-color: orange;
    border-top-color: green;
    border-left-color: rgb(134, 134, 87);
    border-right-color: gray;
}

img {
    width: 130px;
    height: 100px;
}

div#imagens {
    background-color: lightgray;
    background-image: url('../images/bck.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.fonteVerdana {
    font-family: Verdana;
}

div {
    border: 1px solid black;
    /*display: none;*/
}

a {
    display: block;
}

a:visited {
    color: blue;
}

a:active {
    color: blue;
}

li {
    list-style: none;
    /*list-style-type: georgian;*/
}

li:nth-child(odd) {
    background-color: lightgray;
}

li:nth-child(even) {
    background-color: darkgray;
}